<% include("../functions") %>
<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script>
    let selectedServices = [];

    function updateServicesList(value) {
      const continueButton = document.getElementById('continueButton');
      const form = document.getElementById('form');

      if (selectedServices.includes(value)) {
        const serviceIndex = selectedServices.indexOf(value);
        selectedServices.splice(serviceIndex, 1);
        console.log(selectedServices);
      } else {
        selectedServices.push(value);
        console.log(selectedServices);
      }

      if (selectedServices.length > 0) {
        continueButton.disabled = false;
      } else {
        continueButton.disabled = true;
      }
      let serviceIds = '';

      // console.log("service ids as a string ", serviceIds);
      form.setAttribute("action", "/availability?ids=" + JSON.stringify(selectedServices));

    }
    function submitServicesList() {
      console.log("selected services from event listener", selectedServices);
      
        $.ajax({
              type: 'post',
              url: "/availability",
              dataType: JSON,
              data: {
                services: JSON.stringify(selectedServices)
              }
            });
    }
    function toggleMenu(e) {
      var currentButton = e.srcElement;
      
      console.log(e)

      var panel = currentButton.nextElementSibling;
      console.log(panel);
      if (panel.style.display !== "block" ) {
        panel.style.display = "block";
        currentButton.style.backgroundColor = "rgba(0, 106, 255, 1)";
        currentButton.style.color = "#ffffff";
      } else {
        panel.style.display = "none";
        currentButton.style.backgroundColor = "#ffffff";
        currentButton.style.color = "#000000";
      }
  //     if (panel.style.display === "block") {
  //       panel.style.display = "none";
  //       currentButton.style.backgroundColor = "#ffffff";
  //       currentButton
  //       color: white;
  // background-color: rgba(0, 106, 255, 1);

  //     } else {
  //       panel.style.display = "block";
  //       panel.slideDown();
  //       currentButton.style.backgroundColor = "#ccc";
  //     }
      //   });
      // }
    }

  </script>
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="content">
    <div class="content-left business">
      <div class="business__logo">
        <%if (location.logoUrl) { %>
          <img src="<%= location.logoUrl %>">
        <% } else { %>
          <img src="/images/blank-logo.svg">
        <% } %>
      </div>
      <h3>
        <%= location.businessName || location.name %>
      </h3>
      <%if (location.description) { %>
        <h5> <%= location.description %> </h5>
      <% } %>
      <div class="business__location">
        <h4>Location</h4>
        <div>
          <%if (location.address) { %>
            <%if (location.address.addressLine1) { %>
              <span><%= location.address.addressLine1 %>, </span> <br>
            <% } %>
            <%if (location.address.addressLine2) { %>
              <span><%= location.address.addressLine2 %>, </span>
            <% } %>
            <span>
              <%= location.address.locality %>,
              <%= location.address.administrativeDistrictLevel1 %>,
              <%= location.address.postalCode %>
            </span>
          <% } else { %>
            <span>No location information</span>
          <% } %>
        </div>
      </div>
      <div class="business__contact">
        <h4>Hours</h4>
        <div>
          <span>Monday, Tuesday: 1pm-8pm</span> <br>
          <span>Wednesday, Friday: 2pm-8pm</span> <br>
          <span>Saturday: 1pm-6pm</span> <br>
          <span>Thursday, Sunday: Closed</span>
        </div>
      </div>
      <div class="business__contact">
      <h4>Contact</h4>
      <%if (location.phoneNumber || location.businessEmail) { %>
        <%if (location.businessEmail) { %>
          Email: <span> <%= location.businessEmail %> </span>
          <br>
        <% } %>
        <%if (location.phoneNumber) { %>
          Phone:
          <span> <%= location.phoneNumber %> </span>
        <% } %>
      <% } else { %>
          <span>No contact information</span>
      <% } %>
      </div>
      <div class="business__contact">

      </div>
      <!-- <a class="sq-services button btn-primary" id="continueButton" disabled> -->
        <form method="POST" id="form">
          <button class="sq-services button btn-primary" id="continueButton" disabled type="submit">Continue</button>
        </form>
          <a href="/history">
          <button class="sq-services button btn-primary" id="viewHistoryButton">View Reservation History</button>
          </a>
      <!-- <button type="button" class="sq-services button btn-primary" id="continueButton" disabled onclick="submitServicesList()" href= >Continue</button> -->
      <%if (cancel === "success") { %>
        <div class="success-toast">
          <div>
            <img src="/images/success.svg">Your booking was cancelled successfully!
          </div>
        </div>
      <% } %>
    </div>
    <div class="content-main services">
      <h4> Book an appointment </h4>
      <h4 class="title">Services</h4>
      <h4 class="underline"></h4>


      <div class="cards">
        <% categories.forEach(function(category) { %>

              <button class="card__wrapper accordion" onclick="toggleMenu(event)"><h4><%= category.name %></h4></button>
              <!-- <div class="card__wrapper">
                <div class="card__info">
                  <h4><%= category.name %></h4>
                </div>
              
                - <span class="card__icon"></span>
                <img src="images/side-caret.svg">
              </div> -->
              <div style="display: none;">
              <% category.items.forEach(function(item) { %>
                <% item.itemData.variations.forEach(function(variation) { %>
          
                  <!-- <a href="/staff/<%= variation.id %>?version=<%= variation.version %>"> -->
                    <label>
                    <div class="card__wrapper smaller__card">
                      <div class="card__info">
                        <h4><%= variation.itemVariationData.name %></h4>
                        <h5 class="card__description"><%= item.itemData.description %></h5>
                        <span class="card__details">
                          <%if (variation.itemVariationData.pricingType === "FIXED_PRICING") { %>
                            <%= formatMoney(variation.itemVariationData.priceMoney.amount, variation.itemVariationData.priceMoney.currency) %>
                          <% } else { %>
                            Price Varies
                          <% } %>
                          • <%= formatTime(variation.itemVariationData.serviceDuration) %>
                          </span>
                      </div>
                      <input type="checkbox" name="service_item"  id="service-item-wrapper" value="<%= variation.id %>" onclick="updateServicesList(value)" onmouseup>
                      <!-- <span class="card__icon"></span>
                      <img src="images/side-caret.svg"> -->
                    </div>
                    </label>
                  </a>
                <%}); %>
              <%}); %>
              </div>

        <%}); %>
        <% if (!items.length) {%>
          <div class="card__wrapper disabled"></div>
        <% } %>
      </div>
    </div>
  </div>
  <% if (!items.length) {%>
    <div class="developer-note">
      <div>
        <h5>Developer note</h5>
        <span>Looks like you don’t have any services setup yet. Run the seeding script or use the 
          <a href="https://developer.squareup.com/explorer/square/catalog-api/upsert-catalog-object" target="_blank">API Explorer</a> or the Seller Dashboard for your environment
          to create your first service. For more information, check our README file.
        </span>
      </div>
    </div>
  <% } %>
</body>

</html>